<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
        <add key="DeviceName" value="e42bceae" />
        <add key="DeviceOSVersion" value="5.1.1"/>
        <add key="AppPackage" value="com.siri.budgetdemo"/>
        <add key="AppActivity" value="com.siri.budgetdemo.Home"/>
        <add key="AppiumURL" value="http://localhost:4723/wd/hub"/>
  </appSettings>
 </configuration>
